.changes-requested {
  color: white !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 1 !important;
  box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12) !important;
  background-color: #FF5470 !important;
  border-radius: 3px !important;
  padding: 3px 5px !important;
}
.changes-requested:hover {
  text-decoration: none !important;
}

.approved {
  color: white !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 1 !important;
  box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12) !important;
  background-color: #68B7E3 !important;
  border-radius: 3px !important;
  padding: 3px 5px !important;
}
.approved:hover {
  text-decoration: none !important;
}
